td {
	border-radius: 8px;
	padding: 10px;
}

.active {
	background-color: #FFB000;
}

.inactive {
	background-color: #DAFF73;
}
/*
tr {
  -webkit-transition: -webkit-transform;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: easeInSine;
}

tr:hover {
	-webkit-transform:translateY(-20px);
    transform:translateY(-20px);
}

*/
