td {
	border-radius: 8px;
	background-color: #DAFF73;
	padding: 10px;
	border-color: red;
}

tr {
  -webkit-transition: -webkit-transform 2s;
  -webkit-transition-timing-function: easeInSine;
}

tr:hover {
	-webkit-transform:translateY(-20px);
    transform:translateY(-20px);
}

